apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: employee-app
  labels:
    app: mysql
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql
