apiVersion: constraints.gatekeeper.sh/v1beta1
kind: SecretServiceAccountBinding
metadata:
  name: backend-secret-binding
spec:
  enforcementAction: deny
  match:
    kinds:
      - apiGroups: [""]
        kinds: ["Pod"]
    namespaces:
      - employee-app-backend
  parameters:
    secrets:
      - name: mysql-secret
        allowedServiceAccounts:
          - backend-sa
      - name: reports-db-secret
        allowedServiceAccounts:
          - reports-sa
