apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: secretserviceaccountbinding
  annotations:
    description: Restricts which ServiceAccounts can use specific secrets
spec:
  crd:
    spec:
      names:
        kind: SecretServiceAccountBinding
      validation:
        openAPIV3Schema:
          type: object
          properties:
            secrets:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  allowedServiceAccounts:
                    type: array
                    items:
                      type: string
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
        package secretserviceaccountbinding

        violation[{"msg": msg}] {
          container := input.review.object.spec.containers[_]
          env := container.env[_]
          secret_name := env.valueFrom.secretKeyRef.name

          binding := input.parameters.secrets[_]
          binding.name == secret_name

          sa := get_service_account(input.review.object.spec)
          not sa_allowed(sa, binding.allowedServiceAccounts)

          msg := sprintf("ServiceAccount '%s' is not allowed to use secret '%s'", [sa, secret_name])
        }

        # Also check volume mounts
        violation[{"msg": msg}] {
          volume := input.review.object.spec.volumes[_]
          secret_name := volume.secret.secretName

          binding := input.parameters.secrets[_]
          binding.name == secret_name

          sa := get_service_account(input.review.object.spec)
          not sa_allowed(sa, binding.allowedServiceAccounts)

          msg := sprintf("ServiceAccount '%s' is not allowed to mount secret '%s' as volume", [sa, secret_name])
        }

        # Returns the SA name, defaulting to "default" if not specified
        get_service_account(spec) = sa {
          sa := spec.serviceAccountName
          sa != ""
        }

        get_service_account(spec) = "default" {
          not spec.serviceAccountName
        }

        get_service_account(spec) = "default" {
          spec.serviceAccountName == ""
        }

        sa_allowed(sa, allowed) {
          allowed[_] == sa
        }
